@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* *{
    margin: 0;
} */
:root {
    --primary-color: #F87171;
    --dark-color: #e9b226;
    --off-white:#E5E7EB;
   --light-green: #A7F3D0;

}

body {
    font-family: 'Comfortaa', cursive;
    margin: 0px;
}

/**container**/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;

}

/* links*/
.links {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.secondary-link {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color)
}

.primary-link {

    padding: 0.5rem 22px;
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 1rem;

    color: rgb(255, 255, 255);
}

hr {
    margin: 1.5rem 0rem;
}

.non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-bottom-left-radius: 3.1rem;
    border-top-right-radius: 2rem;
    margin: 0rem;
}

.navigation .links {
    color: white;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.8rem;
}

.nav-pills {
    text-align: right;
    font-size: 1.4rem;
}

.link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
    text-align: center;
}

.hero .hero-img {
    max-width: 350px;
    margin: auto;
}

.hero .hero-heading {
    font-size: 2rem;
    color: var(--dark-color);
}

/* section */
.section{
    padding: 2rem;
    
}
.section h1 {
    text-align: center;
    padding: 2rem;
}
.ow{
background-color: var(--off-white);
}

.section.container-center{
    padding: 2rem;
}
/* footer */

 .footer{
     background-color: var(--primary-color);
color: white;
padding: 0.7rem 0.8rem;
text-align: center;
border-top-left-radius: 3rem;
border-bottom-right-radius: 2rem;
 }
 .footer .links{
    font-weight: bold;

     color: var(--light-green);
 }

 .footer .footer-header{
     font-size: large;
     padding: 1rem 0rem 0.6rem;
 }

 .container-center .center-text{
     text-align:justify;
     
 }
 .head-color{
     color: var(--dark-color);
 }

 .link-margin{
     margin: 2px;
 }

 .blog-text{
     text-align: left;
     margin: auto ;
 }
 .blog-image{
     max-width: 290px;
     border-radius: 1.5rem;
     margin: auto;
 }