@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
:root{
    --primary-color: #F87171
}
body{
    font-family: 'Comfortaa', cursive;
} 
/**container**/
.container{
 padding-left: 1rem;
 padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;

}
/* links*/
.links{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.secondary-link{ 
    text-decoration: none;
    padding: 0.5rem 0.8rem 0.3rem 0.8rem;
    border-radius: 0.5rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color)

}
.primary-link{
    
    padding: 0.5rem 0.8rem 0.3rem 0.8rem;
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 1rem;
    
    color: rgb(255, 255, 255);
}
hr{
    margin:1.5rem 0rem;
}
 .non-bullet{
     list-style: none;
 }
 .list-item-inline{
     display: inline;
     padding: 0rem 0.5rem;
 }
  .navigation{
      background-color: var(--primary-color); 
      color: rgb(255, 255, 255)  ;
  }
  
  .navigation .links{
      color: white;
  }